<html>
<a href="/" class="list">Home</a>
<a href="/customer" class="list">Customer Management</a>

<h3> Add new Appointment Block:</h3>

<form id="addaps" action="/appointment" method="post">
  Date Time Start: <input type="text" name="DateTime"><br/>
  <input type="submit" value="Submit">
</form>
<br/>

<h3>Open Appointment Times</h3>
<table>
    <thead>
        <th>Appointment Block</th>
        <th>Button</th>
    </thead>

<tbody>
    {{#each appointmentblock}}
    <tr>
        <td>{{DateTime}}</td>
        <td><a href="/appointment/{{AppointmentID}}">Add Customer to Appointment</a></td>
    </tr>
        {{/each}}
</tbody>
</table>
<br/>
<br/>

<h3>Our Reservations:</h3>
<table>
    <thead>
        <th>Appointment ID</th>
        <th>Customer ID</th>
        <th>Treatment ID</th>
        <th>Red</th>
        <th>Orange</th>
        <th>Yellow</th>
        <th>Green</th>
        <th>Blue</th>
        <th>Indigo</th>
        <th>Violet</th>
        <th colspan = 3>DateTime</th>
        <th colspan = 2>Buttons</th>
    </thead>

<tbody>
        {{#each appointments}}
    <tr>
        <td>{{AppointmentID}}</td>
        <td>{{CustomerID}}</td>
        <td>{{TreatmentID}}</td>
        <td>{{Red}}</td>
        <td>{{Orange}}</td>
        <td>{{Yellow}}</td>
        <td>{{Green}}</td>
        <td>{{Blue}}</td>
        <td>{{Indigo}}</td>
        <td>{{Violet}}</td>
        <td>{{DateTime}}</td>
        <td><button onclick="deleteAppt({{AppointmentID}})">Delete</button></td>
        <td><a href="/appointment/{{AppointmentID}}">Update</a></td>
    </tr>
    {{/each}}
</tbody>
</table>
</html>

