<html>
<a href="/" class="list">Home</a>
<a href="/customer" class="list">     Customer Management</a>
<br>

<h3>Update Appointment {{appointments.AppointmentID}}:</h3>
<form id="update-appt" action="/appointment" method="post">
    DateTime: <input type="text" name="DateTime" value="{{appointments.DateTime}}"><br>
    Treatment ID*: <input type="number" name="TreatmentID" value="{{appointments.TreatmentID}}"><br>
    Customer ID: <input type="number" name="CustomerID" value="{{appointments.CustomerID}}"><br>
    Red: <input type="checkbox" name="Red" value="{{appointments.Red}}"><br>
    Orange: <input type="checkbox" name="Orange" value="{{appointments.Orange}}"><br>
    Yellow: <input type="checkbox" name="Yellow" value="{{appointments.Yellow}}"><br>
    Green: <input type="checkbox" name="Green" value="{{appointments.Green}}"><br>
    Blue: <input type="checkbox" name="Blue" value="{{appointments.Blue}}"><br>
    Indigo: <input type="checkbox" name="Indigo" value="{{appointments.Indigo}}"><br>
    Violet: <input type="checkbox" name="Violet" value="{{appointments.Violet}}"><br>
</form>
<button onclick="updateAppointment({{appointments.AppointmentID}})">Update</button>
<br>
<br>

 <h3>Our Customers:</h3>
<table>
    <thead> 
        <th>ID</th>
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Phone Number</th>
    </thead> 
    <tbody>
        {{#each customers}} 
        <tr> 
            <td>{{CustomerID}}</td>
            <td>{{CusFirst}}</td> 
            <td>{{CusLast}}</td> 
            <td>{{PhoneNum}}</td> 
         </tr> 
        {{/each}} 
    </tbody> 
</table> 


</html>