<html>
<h1>Update {{customers.CusFirst}} {{customers.CusLast}}:</h1>
<form id="update-person" action="/customer" method="post">
    First name: <input type="text" name="CusFirst" value="{{customers.CusFirst}}"><br>
    Last name: <input type="text" name="CusLast" value="{{customers.CusLast}}"><br>
    Phone: <input type="text" name="PhoneNum" value="{{customers.PhoneNum}}"><br>
</form>
<button onclick="updatePerson({{customers.CustomerID}})">Update</button>

</html>
